@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: "Inter", sans-serif;
}

a:hover {
  cursor: pointer;
}

.bg-svg-pattern {
  background-image: url(./assets/yana-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Adjust height as needed */
}

.hero-text-gradient {
  background: linear-gradient(
    to bottom,
    #616161,
    #e0e0e0
  ); /* Define your gradient colors */
  background-clip: text;
  color: transparent;
}

/* src/index.css */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer base {
  input {
    @apply bg-gray-100/60 border focus:border-none rounded-lg shadow-none;
  }
}
